@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

.banner {
  padding: 20px 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  background: linear-gradient(0.25turn, #2c7b9c, #8bb66b, #2fb14b);
  border-style: solid;
  border-color: rgb(0, 66, 0);
  border-radius: 20px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.6);
  color: #0a612d;
}

h1 {
  font-size: 50px;
  font-family: Helvetica, sans-serif;
}

body {
  background: linear-gradient(0.25turn, #2c7b9c, #8bb66b, #2fb14b);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.music-container {
  background: linear-gradient(0.25turn, #2c7b9c, #8bb66b, #2fb14b);
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
  border-style: solid;
  border-color: rgb(0, 66, 0);
  border-radius: 20px;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: #2c7b9c;
  border-radius: 90%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(1, 51, 1);
  border-width: .9px;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background: transparent;
  border: 0;
  color: #026d2b;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #026d2b;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(57, 141, 54, 0.5);
  border-style: solid solid hidden solid;
  border-color: rgb(0, 66, 0);
  border-radius: 15px 15px 0 0;
  border-width: .01ch;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: .7;
  transform: translateY(-105%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #51745c;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: rgb(61, 179, 90);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}